
.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}

.root {
    background-color: #9cc7d0;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .root {
        width: 100%
    }
}

.middlePage {
    composes: flexContainer;
    align-items: stretch;
}

.flexContained {
    background-color: white;
    border-radius: 15px;
    border: 5px solid #ffffff;
    box-shadow: 2px 3px #e0d6da;
    margin: 2%;
    padding: 1%;
}

.img {
    display: block;
    margin: 0 auto;
    width: 100%
}
